

<div style="width: 100%; height: 600px; display: flex; justify-content: center; align-items: center">
    <div class="container">
        <div class="image">
            <img class="img" src="/image-product-desktop.jpg" />
        </div>
        <div class="details">
            <div class="sunhead">
                <p class="clr">P E R F U M E</p>
            </div>
            <div>
                @*<p class="title">
                Gabrielle Essence Eau De Parfum.
                </p>*@
                <h3 class="title">
                    Gabrielle Essence Eau De Parfum.
                </h3>
            </div>
            <div>
                <p class="subTitle">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. atque autem doloremque ea id
                    minima CHANEL .
                </p>
            </div>
            <div class="price" style="display: flex; justify-content: space-between; align-items: center">
                <span class="priceafteramount p-1"> $149.99 </span>
                <span class="pricebeforamount">  <del class="text-black"> $169.99 </del>  </span>
            </div>
            <div>
                <button class="btnAdd">
                    <i class="bi bi-cart3"></i>
                    Add to cart

                </button>
            </div>
        </div>

    </div>
</div>
